*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Press Start 2P', cursive;
}

.container{
    height:100vh;
    width: 100vw;
}

.container img{
    height: 100%;
    width: 100%;
}

.options{
    position: absolute;
    height:40vh;
    width: 40vw;
    /* background: chocolate; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: calc( 50% - 20vh );
    left: calc( 50% - 20vw );
}

h1{
    font-size: 40px;
}

.button{
    height: 40%;
    width: 50%;
    text-decoration: none;
    /* background: blueviolet; */
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.heading{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.para{
    font-size: 35px;
}

.hide{
    display: none;
}

.details{
    display: flex;
    align-items: center;
    justify-self: center;
}

label{
    text-align: center;
}

.details input{
    width: 100%;
    text-align: center;
    margin: 15px 0px;
    outline: none;
    padding:0.4rem;
    background: transparent;
    /* border: none; */
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {

    .options{
        height: 30vh;
        width: 80vw;
        top: calc( 50% - 15vh );
        left: calc( 50% - 40vw );
    }

    .details label{
        font-size: 15px;
    }

    .heading {
        flex-wrap: wrap;
        width: 100vw;
    }

    .button{
        font-size: 23px;
    }

    .para{
        font-size: 23px;
    }

    .container img{
        height: 100%;
        width:  100%;
        opacity:1;
    }
}